@font-face {
    font-family: 'Netflix Sans';
    font-weight: 300;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff) format('woff')
}

body {
	color: white;
	background-color: black;
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0px;
}

#punchQ{
	font-family: 'Netflix Sans', ;
	color: #B81D24;
	font-size: 50px;
	text-align: center;
	margin:20px;
}
#punchQ2{
	color: #B81D24;
	font-size: 30px;
	text-align: center;
	margin-top: 0px;
}
#content{
	background-color: #221f1f;
	border-radius: 10px;
	width: 300px;
	height: 50px;
	border: 0px;
	color: white;
	font-size: 30px;
	padding: 10px;
	margin-bottom: 10px;
}
.button{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: white;
	color: #221f1f;
	border-radius: 10px;
	width: 300px;
	height: 50px;
	font-size: 30px;
	padding: 10px;
	text-align: center;
}
.button:hover{
	background-color: #B81D24;
	color: white;
}

#album-view{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	width: 100%;
	padding: 50px;
	box-sizing: border-box;
}
.album-item{
	display: flex;
	flex-direction: column;
	width: 200px;
	background-color: #221f1f;
	text-align: center;
	height: 300px;
	overflow: hidden;
	padding: 10px;
	gap: 10px;
	font-size: larger;
	border-radius: 10px;
	align-items: center;
	box-sizing: border-box;
	text-shadow: 2px 2px #B81D24;
}
.album-item:hover{
	box-shadow: 0 0 0 5px;
}
form {
	display: flex;
	flex-direction: column;
}

img{
	border-radius: 10px;
	height: 100%;
}

.no-scroll {
	overflow: hidden;
}

@media screen and (max-width: 600px) {
	.album-item{
		width: 100vw;
		height: fit-content;
		font-size: xx-large;
	}
	img{
		width: 100%;
	}
  }